/* Общие стили для всех экранов */
header {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    flex-wrap: nowrap;
    box-sizing: border-box;
}

header .logo-container {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

header .logo {
    max-height: 50px;
    margin-right: 8px;
}

header h1 {
    font-size: 1em;
    margin: 0;
    white-space: nowrap;
}

.nav-container {
    max-width: 1200px; /* Можно менять в зависимости от дизайна */
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
}

.menu-toggle {
    display: none; /* Скрыть по умолчанию */
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    margin-left: auto;
    box-sizing: border-box;
    transition: transform 0.3s ease; /* Анимация для трансформации бургер-меню */
}

.burger-bar {
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s ease; /* Плавный переход для бургерных полосок */
}

.hidden-on-burger {
    display: block; /* Видим на больших экранах */
}

.nav {
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
    z-index: 999; /* Чтобы не было под другими элементами */
}

.nav.nav-open {
    opacity: 1;
    visibility: visible;
    height: auto;
    padding: 10px 0;
}

.nav ul {
    display: flex;
    flex-direction: column;
    width: auto;
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav ul li {
    margin: 0 8px;
}

.nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9em;
    transition: color 0.3s;
}

.nav ul li a:hover {
    color: #00a651;
}

/* Плавная анимация для перехода бургерного меню в крестик */
.menu-toggle.open .burger-bar:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 7px;
}

.menu-toggle.open .burger-bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.open .burger-bar:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    top: -7px;
}



.auth-buttons{
    display: flex;
}

.auth-buttons button{
    margin: 0 3px;
    padding: 5px 8px;
    cursor: pointer;
    border: none;
    background-color: #00a651;
    color: white;
    border-radius: 5px;
    font-size: 0.9em;
    transition: background-color 0.3s;
}

.login-btn, .register-btn{
    background-color: #0084d6;
}

.login-btn:hover, .register-btn:hover{
    background-color: #006bb3;
}


.partnersTitle-btn {
    margin: 0 3px;
    padding: 5px 8px;
    cursor: pointer;
    border: none;
    background-color: #00a651;
    color: white;
    border-radius: 5px;
    font-size: 0.9em;
    transition: background-color 0.3s;
}

.partnersTitle-btn:hover {
    background-color: #007a40;
}


.language-switcher {
    display: flex;
    margin-left: 10px;
}

.language-switcher button {
    margin: 0 3px;
    padding: 5px 8px;
    cursor: pointer;
    border: none;
    background-color: #00a651;
    color: white;
    border-radius: 5px;
    font-size: 0.9em;
    transition: background-color 0.3s;
}

.language-switcher button:hover {
    background-color: #007a40;
}

/* Поиск */
.search-form {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 30px ;
    max-width: 200px;
    padding: 5px;
    background-color: #2b2b2b;
    border-radius: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    border: 1px solid #3a3a3a;
    box-sizing: border-box;
    
}

.search-input {
    width: 100%;
    flex-grow: 1;
    padding: 6px 8px;
    border: none;
    border-radius: 30px 0 0 30px;
    font-size: 0.9em;
    color: #e0e0e0;
    background-color: #444444;
    transition: background-color 0.3s ease;
}

.search-button {
    padding: 6px 8px;
    border: none;
    border-radius: 0 30px 30px 0;
    background-color: #00a651;
    color: #ffffff;
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.search-button i {
    font-size: 14px;
}


@media (max-width: 910px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-container {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

    .menu-toggle {
        display: flex; /* Показать на мобильных устройствах */
    }

    .nav {
        display: none; /* Скрыть меню по умолчанию */
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
    }

    .nav ul {
        flex-direction: column;
        width: 100%;
        text-align: start;
        list-style: none;
    }

    .nav ul li {
        margin: 10px 0;
    }

    .nav.nav-open {
        display: flex; /* Показать меню при открытии */
    }

    .search-form {
        display: none; /* Скрыть форму поиска по умолчанию */
    }

    .nav.nav-open .search-form {
        display: flex; /* Показать форму поиска при открытии меню */
    }

    .language-switcher {
        margin: 10px 0;
    }
}

@media (max-width: 480px) {

    .language-switcher {
        margin: 5px 0;
    }
}

@media (max-width: 1280px) {
    
    .hidden-on-burger {
        display: none; /* Скрываем эти элементы при открытии бургер-меню */
    }

    .menu-toggle {
        display: flex; /* Бургер виден */
    }

    .nav {
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        flex-direction: column;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        height: 0;
        overflow: hidden;
        transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
        z-index: 999;
        display: flex; /* Меню всегда flex, но скрыто */
    }

    .nav.nav-open {
        opacity: 1;
        visibility: visible;
        height: auto;
        width: 50%;
        padding: 10px 20px;
        margin-top: 9px;
    }
}

@media (min-width: 1281px) {
    .menu-toggle {
        display: none !important; /* Убираем бургер */
    }

    .nav {
        display: flex !important;
        flex-direction: row; /* Меню теперь горизонтальное */
        justify-content: flex-end; /* Перемещаем элементы к правому краю */
        align-items: center; /* Центрируем по вертикали */
        gap: 20px; /* Отступы между пунктами */
        position: static; /* Возвращаем в нормальный поток */
        width: auto;
        height: auto; 
        padding: 0;
        opacity: 1;
        visibility: visible;
    }

    .nav ul {
        display: flex;
        flex-direction: row; /* Горизонтальное расположение */
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .nav ul li {
        margin: 0 10px; /* Отступы между элементами */
    }
}

